@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
  background-color: #000;
}
@font-face {
  font-family: 'Lastica';
  src: url('/src/fonts/Lastica.ttf') format('truetype');;
}
@keyframes fadeIn{
  from{ opacity:0;}
  to {opacity:1;};
}

@keyframes slider{
  from{
    left:0px;
  }
  to{
    left:25px;
    opacity:1;
  };
}
@keyframes slideAway{
  from{
    opacity:1;
    width:30%;
    height:auto;
  }
  to{
    opacity:0;
    width:15%;
    height:auto;
    display:none;
  }
}
@keyframes rotate{
  from{
    opacity:1;
    transform:rotate(0deg);
  }
  to{
    opacity:1;
    transform:rotate(45deg);
  }
}
@keyframes frame_in{
  from{
    opacity:1;
    width:100%;
  }
  to{
    opacity:0;
    width:300%;
  }
}
.gallery{
  width:100%;
  height:100vh;
  justify-content: space-around;
  display:flex;
  flex-direction: row;
}
.subpage{
  width:inherit;
  height:80%;
  font-family:'Lastica';
  color:white;
  display:flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction:column;
}
.navbar{
  position: absolute;
  font-family:'Lastica';
  font-size:0.7em;
  color:white;
  width:100%;
  top:15%;
}
ul{
  list-style-type: none;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
li{
  display:inline;
  margin-right:5%;
}
h1{
  color:white;
}
.whiteline{
  position:absolute;
  top:10%;
  width:inherit;
  height:0.5px;
  background-color: white; 
}
.icon{
  position:absolute;
  right:3%;
  top:15%;
  width:50px;
  height:auto;
  opacity:0;
}
._fadeIn{
  animation-name:fadeIn;
  animation-duration:2s;
  animation-fill-mode:forwards;
}
._rotate{
  animation-name:rotate;
  animation-duration:2s;
  animation-fill-mode: forwards;
}
.sound{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.nav-link{
  width:max-content;
}
.App{
  width:100%;
  display:flex;
  background-color:black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
  margin:auto;
}
.logo{
  position:relative;
  width:30%;
  height:auto;
  opacity: 0;
  animation-name:fadeIn;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.subtitle{
  position:relative;
  color:white;
  font-family:'Lastica';
  opacity:0;
  animation-name:slider;
  animation-delay:1s;
  animation-duration:3s;
  animation-fill-mode: forwards;
}
.align-top{
  align-self: flex-start;
  justify-self: start;
  
}
.slideAway{
  animation-name:slideAway;
  animation-duration:2s;
  animation-fill-mode:forwards;
}
.menu_appear{
  animation-name: menu_appear;
  animation-duration:2s;
  animation-fill-mode:forwards;
  color:white;
  text-decoration:none;
}
#menu_desk{
    position:absolute;
    right:3%;
    top:5%;
    width:50px;
    height:auto;
    opacity:0;
}
@keyframes menu_appear{
  from{
    color:black;
  }
  to{
    color:white;
  }
}
@media only screen and (max-width: 600px){
  @keyframes slideAway{
    from{
      opacity:1;
      width:60%;
      height:auto;
    }
    to{
      opacity:0;
      width:30%;
      height:auto;
      display:none;
    }
  }
  .nav-link{
    text-decoration:none;
    color:white;
  }
  .logo{
    width:60%;
    height:auto;
  }
  .icon{
    width:30px;
    height:auto;
    top:4%;
    right:2%;
  }
.navbar{
  position: absolute;
    font-family:'Lastica';
    font-size:1em;
    color:white;
    width:100%;
    top:5%;
}
.whiteline{
  display:none;
}
ul{
  display:flex;
  align-items: center;
  justify-content: center;
}
.gallery{
  width:fit-content;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
}