@font-face {
  font-family: 'Lastica';
  src: url('/src/fonts/Lastica.ttf') format('truetype');;
}
@keyframes fadeIn{
  from{ opacity:0;}
  to {opacity:1;};
}

@keyframes pulse{
 from{ width:30%;};
 to{width:35%};
}
.App{ 
  display:flex;
  background-color:black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
  margin:auto;
}

.logo{
  width:30%;
  height:auto;
  opacity: 0;
  animation-name:fadeIn;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.subtitle{
  color:white;
  font-family:'Lastica';
  opacity:0;
  animation-name:fadeIn;
  animation-delay:3s;
  animation-duration:4s;
  animation-fill-mode: forwards;
}
@media only screen and (max-width: 600px){
  .logo{
    width:60%;
    height:auto;
  }
}