html,body{
  background-color: #000;
}
@font-face {
  font-family: 'Lastica';
  src: url('/src/fonts/Lastica.ttf') format('truetype');;
}
/*keyframes section*/
@keyframes fadeIn{
  from{ opacity:0;}
  to {opacity:1;};
}
@keyframes slider{
  from{
    left:0px;
  }
  to{
    left:25px;
    opacity:1;
  };
}
@keyframes slideAway{
  from{
    opacity:1;
    width:35%;
    height:auto;
  }
  to{
    opacity:0;
    transform:translate(540px,-330px);
    width:10%;
    height:auto;
    display:none;
  }
}
/*keyframes end*/
.homepage{
  opacity:0;
  margin-top:-5%;
  justify-self:start;
  border:1px white solid;
  color:blue;
  width:98%;
  transition:height 2s;
}
.content{
  border:1px red solid;
  display:flex;
  justify-content: center;
  width:100%;
  height:100em;
}
.gallery{
  width:100%;
  height:100vh;
  justify-content: center;
  display:flex;
}
.subpage{
  opacity:0;
  margin-top:7%;
  width:100%;
  height:100vh;
  border:1px white solid;
  font-family:'Lastica';
  color:white;
  display:flex;
  align-items: center;
  flex-direction:column;
  text-align: left;
}
.title{
  width:100%;
}
._fadeOut{
  animation-name:fadeIn;
  animation-duration: 2s;
  animation-delay:0.5s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}
.enter_btn{
  width:10%;
  display:inline;
  display:flex;
  justify-content: center;
  font-family: 'Lastica';
  font-size:0.7em;
  border:1px solid white;
  background-color: transparent;
  color:white;
  opacity: 0;
  animation-name:fadeIn;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index:99;
}
h1{
  color:white;
}
.whiteline{
  position:absolute;
  top:10%;
  width:inherit;
  height:0.5px;
  background-color: white; 
}
._fadeIn{
  animation-name:fadeIn;
  animation-duration:2s;
  animation-fill-mode:forwards;
}
._fadeIn_slow{
  animation-name:fadeIn;
  animation-duration:2s;
  animation-delay:0.5s;
  animation-fill-mode:forwards;
}
._rotate{
  animation-name:rotate;
  animation-duration:2s;
  animation-fill-mode: forwards;
}
.sound{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.App{
  width:100%;
  display:flex;
  background-color:black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
  margin:auto;
}
.logo{
  position:relative;
  width:35%;
  height:auto;
  opacity: 0;
  animation-name:fadeIn;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.subtitle{
  display:flex;
  position:relative;
  top:-40px;
  color:white;
  font-family:'Lastica';
  opacity:0;
  animation-name:slider;
  animation-delay:1s;
  animation-duration:3s;
  animation-fill-mode: forwards;
}
.slideAway{
  animation-name:slideAway;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
}

@media only screen and (max-width: 600px){
  @keyframes slideAway{
    from{
      opacity:1;
      width:50%;
      height:auto;
    }
    to{
      opacity:0;
      transform:translate(100px,-220px);
      width:0%;
      height:auto;
      display:none;
    }
  }
  .App{
    display:flex;
    align-items: center;
  }
  .enter_btn{
    margin-top:40px;
    width:23%;
    font-size:0.6em;
    z-index:99;
  }
  .subpage{  
    margin-top: 10%;
    height:40%;
  }
  .logo{
    width:60%;
    height:auto;
  }

.whiteline{
  display:none;
}
.subtitle{
  top:0px;
}
}
