

App{
  background-color: #000;
}
@font-face {
  font-family: 'Lastica';
  src: url('/src/fonts/Lastica.ttf') format('truetype');;
}
@keyframes fadeIn{
  from{ opacity:0;}
  to {opacity:1;};
}

@keyframes slider{
  from{
    left:0px;
  }
  to{
    left:25px;
    opacity:1;
  };
}
@keyframes slideAway{
  from{
    opacity:1;
    width:30%;
    height:auto;
  }
  to{
    opacity:0;
    width:15%;
    height:auto;
    display:none;
  }
}
@keyframes rotate{
  from{
    opacity:1;
    transform:rotate(0deg);
  }
  to{
    opacity:1;
    transform:rotate(45deg);
  }
}
@keyframes frame_in{
  from{
    opacity:1;
    width:100%;
  }
  to{
    opacity:0;
    width:300%;
  }
}
.frame{
  position:absolute;
  left:0;
  top:0;
  opacity:0;
  width:100%;
}
.head{
  position: absolute;
  font-family:'Lastica';
  font-size:0.7em;
  color:white;
  width:100%;
  top:5%;
}
ul{
  list-style-type: none;
  display:flex;
  justify-content: space-around;
}
li{
  display:inline;
  margin-right:5%;
}
.icon{
  position:absolute;
  right:3%;
  border:1px solid white;
  top:5%;
  width:50px;
  height:auto;
  opacity:0;
}
._fadeIn{
  animation-name:fadeIn;
  animation-duration:2s;
  animation-fill-mode:forwards;
}
._rotate{
  animation-name:rotate;
  animation-duration:2s;
  animation-fill-mode: forwards;
}
.sound{
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{ 
  display:flex;
  background-color:black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
  margin:auto;
}
.logo{
  position:relative;
  width:30%;
  height:auto;
  opacity: 0;
  animation-name:fadeIn;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.subtitle{
  position:relative;
  color:white;
  font-family:'Lastica';
  opacity:0;
  animation-name:slider;
  animation-delay:2s;
  animation-duration:4s;
  animation-fill-mode: forwards;
}
.slideAway{
  animation-name:slideAway;
  animation-duration:2s;
  animation-fill-mode:forwards;
}
.menu_appear{
  animation-name: menu_appear;
  animation-duration:2s;
  animation-fill-mode:both;
}
#menu_desk{
    position:absolute;
    right:3%;
    top:5%;
    width:50px;
    height:auto;
    opacity:0;
}
/*.nav-link{
  color:black;
}*/
@keyframes menu_appear{
  from{
    color:black;
  }
  to{
    color:white;
  }
}
@media only screen and (max-width: 600px){
  @keyframes slideAway{
    from{
      opacity:1;
      width:60%;
      height:auto;
    }
    to{
      opacity:0;
      width:30%;
      height:auto;
      display:none;
    }
  }
  
  .logo{
    width:60%;
    height:auto;
  }
  .icon{
    width:30px;
    height:auto;
    top:4%;
    right:2%;
  }
 .menu_desktop{
    display:none;

  }
/*ul{
  display:flex;
  justify-content:center;
}
li{
  margin:0px 5px 0px;
}*/
  .head{
    margin-top:-5px;
    font-size:0.7em;
    display:flex;
    flex-direction: column;
  }
}