App{
  background-color: #000;
}
@font-face {
  font-family: 'Lastica';
  src: url('/src/fonts/Lastica.ttf') format('truetype');;
}
@keyframes fadeIn{
  from{ opacity:0;}
  to {opacity:1;};
}

@keyframes slider{
  from{
    left:0px;
  }
  to{
    left:25px;
    opacity:1;
  };
}
@keyframes slideAway{
  from{
    opacity:1;
    width:30%;
    height:auto;
  }
  to{
    opacity:0;
    width:30%;
    height:auto;
    display:none;
  }
}
@keyframes rotate{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(120deg);
  }
}
navbar{
  font-family:'Lastica';
  color:white;
}
.head{
  position: absolute;
  width:100%;
  top:0;
}
ul{
  list-style-type: none;
  display:flex;
  justify-content: space-around;
}
li{
  display:inline;
  margin-right:5%;
}
.icon{
  position:absolute;
  right:5%;
  top:5%;
  width:50px;
  height:auto;
  opacity:0;
}
._fadeIn{
  animation-name:fadeIn;
  animation-duration:2s;
  animation-fill-mode:forwards;
}
._rotate{
  animation-name:rotate;
  animation-duration:2s;
  animation-fill-mode: forwards;
}
.sound{
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{ 
  display:flex;
  background-color:black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
  margin:auto;
}
.logo{
  position:relative;
  width:30%;
  height:auto;
  opacity: 0;
  animation-name:fadeIn;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.subtitle{
  position:relative;
  color:white;
  font-family:'Lastica';
  opacity:0;
  animation-name:slider;
  animation-delay:2s;
  animation-duration:4s;
  animation-fill-mode: forwards;
}
.slideAway{
  animation-name:slideAway;
  animation-duration:2s;
  animation-fill-mode:forwards;
}
@media only screen and (max-width: 600px){
  .logo{
    width:60%;
    height:auto;
  }
  .icon{
    width:25px;
    height:auto;
    top:2%;
    right:2%;
  }
}