@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.frame{
    display:flex;
    flex-direction: row; 
    background-size: cover;
    background-position: left;
    width:100%;
    height:80%;
    border: 1px blue solid;
    border-radius: 5px;
    box-shadow:2px 2px 10px whitesmoke;
}
.name{
    color:black;
    font-family:'Bungee';
    font-weight: 400;
    font-size:3em;
    width:auto;
    position:relative;
    top:10px;
    left:20px;
}
.bio{
    font-family: "open sans condensed";
    display:block;

}
@media only screen and (max-width: 600px){

.frame{
    width:100%;
    height:100%;
}
.name{
    font-size:3em;
}
}