.frame{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:auto;
    border: 1px red solid;
    border-radius: 5px;
    box-shadow:2px 2px 10px whitesmoke;
}
.photo{
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
}
img{
    width:50%;
    height: auto;
}
@media only screen and (max-width: 600px){

.frame{
    width:50%;
}

}